/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER NAV */
.nav {
    overflow: hidden;
    background-color: black;
    margin: 5px;
    padding: 10px;
}
.nav a {
    float: left;
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.navDropdown {
    float: left;
    overflow: hidden;
}
.navDropdown .dropdownBtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    background-color: black;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}
.dropdownContent a {
    float: none;
    color: black;
    padding: 5px;
    display: block;
    text-align: left;
    background-color: white;
}
.dropdownContent a:hover {
    background-color: gainsboro;
}

/* SORT DIV */
.sortContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px ; 
    width: 80%;
}
.sortContainer label {
    font-weight: bold;
}
.sortContainer button {
    background-color: white;
    color: black;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
}

/* FILTER DIV */
.filterContainer {
    margin-left: 15px;
    display: inline-block;
}
.filterContainer .dropdownBtn {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 10px;
}
.show {
    display: block;
}

/* PRODUCTS DIV */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productCard {
    border: solid 1px black;
    border-radius: 15px;
    width: 75%;
    margin: 5px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productCard h2, h4 {
    text-align: center;
    background-color: white;
}
.productCard .desc {
    width: 80%;
    text-align: center;
    background-color: white;
    margin: 5px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}
.ratings {
    display: flex;
    flex-direction: row;
    background-color: white;
}
.ratings p {
    background-color: white;
    margin: 10px;
}